.blobs {
  -webkit-filter: url("#goo");
  filter: url("#goo");
  position: relative;
/*    top: 10rem;
    left: 0;
    bottom: 0;
    right: 0;  
*/
}

@-webkit-keyframes blob-left {
  0% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  50% {
    -webkit-transform: scale(0.4) translate(-65px, 0);
            transform: scale(0.4) translate(-65px, 0);
  }

  100% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }

}

@keyframes blob-left {
  0% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  50% {
    -webkit-transform: scale(0.4) translate(-65px, 0);
            transform: scale(0.4) translate(-65px, 0);
  }

  100% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }

}


@-webkit-keyframes blob-right {
  0% {
    -webkit-transform: scale(1.3) translate(0, 0);
            transform: scale(1.3) translate(0, 0);
  }
  50% {
    -webkit-transform: scale(0.9) translate(65px, 0);
            transform: scale(0.9) translate(65px, 0);
  }
  100% {
    -webkit-transform: scale(1.3) translate(0, 0);
            transform: scale(1.3) translate(0, 0);
  }
}

@keyframes blob-right {
  0% {
    -webkit-transform: scale(1.3) translate(0, 0);
            transform: scale(1.3) translate(0, 0);
  }
  50% {
    -webkit-transform: scale(0.9) translate(65px, 0);
            transform: scale(0.9) translate(65px, 0);
  }
  100% {
    -webkit-transform: scale(1.3) translate(0, 0);
            transform: scale(1.3) translate(0, 0);
  }
}


.blob {
  position: absolute;
  background: #6960ce;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 100%;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: blob-right cubic-bezier(0.77, 0, 0.175, 1) 4s infinite;
  animation: blob-right cubic-bezier(0.77, 0, 0.175, 1) 4s infinite;
}
.blob:nth-child(2) {
  -webkit-animation-name: blob-left;
  animation-name: blob-left;
}
